.iam {
    font-size: 10px; 
    border: 1px solid lightgrey; 
    background: transparent; 
    border-radius: 5px; 
    color: grey;
    width: 100px !important;
}
.iam.active{
    background: lightgray; 
    color: white;
}
.iam.remove{
    background: transparent; 
    color: grey;
}
.iam:active {
    background: lightgray; 
    color: white;
}
.iam:hover {
    background: lightgray; 
    color: white;
}